<%- include('../layouts/adminHeader.ejs') %>
<%- include('../layouts/adminPanelSidebar.ejs') %>
  <body>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

    <!--start main wrapper-->
    <main class="main-wrapper">
      <div class="main-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
          <h2>Edit Category</h2>
          <!-- <div class="breadcrumb-title pe-3">Categories</div> -->
          <div class="ps-3">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                </li>
                <!-- <li class="breadcrumb-item active" aria-current="page">Starter Page</li> -->
              </ol>
            </nav>
          </div>
         
        </div>
        <!--end breadcrumb-->

        <div class="row">
          <div class="col-12 col-lg-8">
            <div class="card">
              <!-- <form id="editcategoryForm"> -->
              <div class="card-body">
                <div class="mb-4">
                  <h5 class="mb-3">Category Name</h5>
                  <input value="<%= category.name %>" id="name" type="text" class="form-control"
                    placeholder="write category name here....">
                    <div id="name-error" class="message" style="color: red;"></div>
                </div>
                <div class="mb-4">
                  <h5 class="mb-3">Description</h5>
                  <textarea id="description" class="form-control" cols="4" rows="6"
                    placeholder="<%=category.description%>"></textarea>
                    <div id="description-error" class="message" style="color: red;"></div>
                </div>
                <div class="mb-4">
                  <!-- <h5 class="mb-3">Display images</h5> -->
                  <!-- <input id="fancy-file-upload" type="file" name="files" accept=".jpg, .png, image/jpeg, image/png" multiple> -->
                </div>
                <div class="mb-4">
                  <style>
                    .btn-primary {
                      position: absolute;
                      top: 87%;
                      left: 45%;
                    }
                  </style>

                  <button class="btn btn-primary" onclick="saveCategory('<%= category._id %>')">Save</button>

                  <div class="row g-3">
                    <div class="col-12 col-lg-3">
                    </div>
                  </div>
                  <div class="col-12 col-lg-9">
                    <div class="tab-content">
                      <div class="tab-pane fade" id="Pricing">
                        <div class="row g-3">
                          <div class="col-12 col-lg-6">
                            <h6 class="mb-2">Regular price</h6>
                            <input class="form-control" type="text" placeholder="$$$">
                          </div>
                          <div class="col-12 col-lg-6">
                            <h6 class="mb-2">Sale price</h6>
                            <input class="form-control" type="text" placeholder="$$$">
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="Restock">
                        <h6 class="mb-3">Add to Stock</h6>
                        <div class="row g-3">
                          <div class="col-sm-7">
                            <input class="form-control" type="number" placeholder="Quantity">
                          </div>
                          <div class="col-sm">
                            <button class="btn btn-outline-primary"><i class="bi bi-check2 me-2"></i>Confirm</button>
                          </div>
                        </div>
                        <table class="mt-3">
                          <thead>
                            <tr>
                              <th style="width: 200px;"></th>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="text-1000 py-1">Product in stock now:</td>
                              <td class="text-700 fw-semi-bold py-1">$2,059<button class="btn p-0 ms-2" type="button"><i
                                    class="bi bi-arrow-clockwise"></i></button></td>
                            </tr>
                            <tr>
                              <td class="text-1000 py-1">Product in transit:</td>
                              <td class="text-700 fw-semi-bold py-1">3000</td>
                            </tr>
                            <tr>
                              <td class="text-1000 py-1">Last time restocked:</td>
                              <td class="text-700 fw-semi-bold py-1">25th March, 2020</td>
                            </tr>
                            <tr>
                              <td class="text-1000 py-1">Total stock over lifetime:</td>
                              <td class="text-700 fw-semi-bold py-1">50,000</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div class="tab-pane fade" id="GlobalDelivery">
                        <div class="d-flex flex-column h-100">
                          <h6 class="mb-3">Global Delivery</h6>
                          <div class="flex-1">
                            <div class="mb-4">
                              <div class="form-check mb-1">
                                <input class="form-check-input" type="radio" name="shippingRadio"
                                  id="Worldwidedelivery">
                                <label class="form-check-label fw-bold" for="Worldwidedelivery">Worldwide
                                  delivery</label>
                              </div>
                              <div class="ps-4">
                                <p class="mb-0">Only available with Shipping method: <a href="#!">Fullfilled by
                                    Admin</a></p>
                              </div>
                            </div>
                            <div class="mb-4">
                              <div class="form-check mb-1">
                                <input class="form-check-input" type="radio" name="shippingRadio" id="SelectedCountries"
                                  checked="checked">
                                <label class="form-check-label fw-bold d-flex align-items-center"
                                  for="SelectedCountries">Selected Countries</label>
                              </div>
                              <div class="ps-4">
                                <input class="form-control" type="text" placeholder="Type Country name">
                              </div>
                            </div>
                            <div class="mb-0">
                              <div class="form-check mb-1">
                                <input class="form-check-input" type="radio" name="shippingRadio" id="Localdelivery">
                                <label class="form-check-label fw-bold" for="Localdelivery">Local delivery</label>
                              </div>
                              <div class="ps-4">
                                <p class="mb-0">Only available with Shipping method: <a href="#!">Fullfilled by
                                    Admin</a></p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="Attributes">
                        <h6 class="mb-3">Attributes</h6>
                        <div class="form-check">
                          <input class="form-check-input" id="fragileCheck" type="checkbox">
                          <label class="form-check-label text-900 fs-0" for="fragileCheck">Fragile Product</label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" id="biodegradableCheck" type="checkbox">
                          <label class="form-check-label text-900 fs-0" for="biodegradableCheck">Biodegradable</label>
                        </div>
                        <div class="mb-3">
                          <div class="form-check"><input class="form-check-input" id="frozenCheck" type="checkbox"
                              checked="checked">
                            <label class="form-check-label text-900 fs-0" for="frozenCheck">Frozen Product</label>
                            <input class="form-control" type="text" placeholder="Max. allowed Temperature"
                              style="max-width: 350px;">
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane fade" id="Advanced">
                        <h6 class="mb-3">Advanced</h6>
                        <div class="row g-3">
                          <div class="col-12 col-lg-6">
                            <label class="mb-2">Product ID Type</label>
                          </div>
                          <div class="col-12 col-lg-6">
                            <label class="mb-2">Product ID</label>
                            <input class="form-control" type="text" placeholder="ISBN Number">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- </form> -->
            </div>
          </div>
        </div>

        <%- include('../layouts/adminFooter.ejs') %>

          <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

          <script>
            async function saveCategory(categoryId) {
              try {
                const name = document.getElementById('name').value
                const description = document.getElementById('description').value

                const nameRegex = /^[a-zA-Z0-9\s]+$/;
                if (!nameRegex.test(name) || name.length < 5) {
                  showError('name-error', 'Name must be required and contain only alphabets, spaces, and numbers and at least 5 characters long.');
                  return;
                } else {
                  hideError('name-error');
                }

                const descriptionRegex = /^[a-zA-Z0-9\s!"#$%&'()*+,-./:;<=>?@[\\\]^_`{|}~]+$/;
                if (!descriptionRegex.test(description) || description.length < 6) {
                  showError('description-error', 'Description must contain only alphabets, spaces, numbers, and symbols, and must be at least 6 characters long.')
                  return;
                } else {
                  hideError('description-error');
                }



                const response = await fetch(`/admin/editcategory/${categoryId}`, {
                  method: 'PUT',
                  headers: {
                    'Content-Type': 'application/json'
                  },
                  body: JSON.stringify({ name, description })
                });

                const data = await response.json();
                if (data.success) {
                  Swal.fire({
                    icon: 'success',
                    title: data.message
                  })
                    .then(result => {
                      if (result.isConfirmed) {
                        window.location.href = '/admin/category';
                      }
                    })
                } else {
                  Swal.fire({
                    icon: 'warning',
                    title: data.message
                  })
                }
              } catch (error) {
                console.log(error.message)
              }
            }

            function showError(errorId, message) {
              let errorElement = document.getElementById(errorId);
              errorElement.textContent = message;
            }

            function hideError(errorId) {
              let errorElement = document.getElementById(errorId);
              errorElement.textContent = '';
            }


          </script>