<%- include('../layouts/navbar.ejs') %>

<style>
    .low-stock {
        color: red;
        font-weight: bold;
    }

    .primary-btn.out-of-stock {
        background-color: #d9534f;
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.6;
    }

    .primary-btn.out-of-stock:hover {
        background-color: #d9534f;
    }

    .add-to-cart-btn {
        background-color: #ff9f00;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        text-transform: uppercase;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .add-to-cart-btn:hover {
        background-color: #218838;
    }
</style>    

<script src="https://unpkg.com/js-image-zoom@0.7.0/js-image-zoom.js" type="application/javascript"></script>


    <body>

        <!-- Page Preloder -->
        <div id="preloder">
            <div class="loader"></div>
        </div>

        <!-- Offcanvas Menu Begin -->
        <div class="offcanvas-menu-overlay"></div>
        <!-- <div class="offcanvas-menu-wrapper">
            <div class="offcanvas__option">
                <div class="offcanvas__links">
                    <a href="#">Sign in</a>
                    <a href="#">FAQs</a>
                </div> -->
                <!-- <div class="offcanvas__top__hover">
                    <span>Usd <i class="arrow_carrot-down"></i></span>
                    <ul>
                        <li>USD</li>
                        <li>EUR</li>
                        <li>USD</li>
                    </ul>
                </div> -->
            <!-- </div>
            <div class="offcanvas__nav__option">
                <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
                <a href="#"><img src="img/icon/heart.png" alt=""></a>
                <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
                <div class="price">$0.00</div>
            </div>
            <div id="mobile-menu-wrap"></div>
            <div class="offcanvas__text">
                <p>Free shipping, 30-day return or refund guarantee.</p>
            </div>
        </div> -->
        <!-- Offcanvas Menu End -->

     

        <!-- Shop Details Section Begin -->
        <section class="shop-details">
            <div class="product__details__pic">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product__details__breadcrumb">
                                <a href="./index.html">Home</a>
                                <a href="">Shop</a>
                                <span>Product Details</span>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-lg-3 col-md-3">
                            <ul class="nav nav-tabs" role="tablist">
                                <% if (product.images.length> 0) { %>
                                    <% for(let i=0; i < product.images.length; i++) { %>
                                        <li class="nav-item">
                                            <a class="nav-link <%= i === 0 ? 'active' : '' %>" data-toggle="tab"
                                                href="#tabs-<%= i+1 %>" role="tab">
                                                <div class="product__thumb__pic set-bg"
                                                    data-setbg="/uploadedImages/<%= product.images[i] %>">
                                                    <img src="/uploadedImages/<%= product.images[i] %>"
                                                        alt="Thumbnail" />
                                                </div>
                                            </a>
                                        </li>
                                        <% } %>
                                            <% } %>
                               
                            </ul>
                        </div>



                        <div class="col-lg-6 col-md-9">
                            <div class="tab-content">
                                <% for(let i=0; i < product.images.length; i++) { %>
                                    <div class="tab-pane <%= i === 0 ? 'active' : '' %>" id="tabs-<%= i+1 %>"
                                        role="tabpanel">
                                        <div class="product__details__pic__item">
                                            <img class="zooming-image" data-zoom-image="/uploadedImages/<%= product.images[i] %>" src="/uploadedImages/<%= product.images[i] %>" />
                                        </div>
                                    </div>
                                    <% } %>
                                  
                            </div>
                        </div>
                    </div> -->


                    <div class="col-12 d-flex justify-content-between p-5" style="background-color: rgb(191, 191, 191); border-radius: 5px; box-shadow: 0px 0px 5px black;">
                     <div class="selectedPic" id="selectedImageId" style="width: 450px; height: 450px;">
                        <img id="zoomed-pic" alt="img-for-zoom">
                     </div>

                     <div class="product-pic-wrapper flex" style="width: 600px; height: 250px;">
                        <% for(let i=0; i < product.images.length; i++) { %>
                            <div class="pic-number-<%= i %> flex">
                                <img style="width: 150px; height: 150px;" src="/uploadedImages/<%= product.images[i] %>" class="product-pic py-2" data-product-pic="<%= i %>" alt="img">
                            </div>
                            <% } %>
                     </div>
                    </div>
                </div>
            </div>
            <div class="product__details__content">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-lg-8">
                            <div class="product__details__text">
                                <h4>
                                    <%= product.name %>
                                </h4>
                                <!-- <div class="rating">
                                     
                                            <span>Reviews</span>
                                </div> -->
                                <h3>
                                    <% if (offerPercent) { %>
                                        ₹<%= offerPrice %>
                                    <% } else if (categoryOfferPercent) { %>
                                        ₹<%= categoryOfferPrice %>
                                    <% } else { %>
                                        ₹<%= product.price %> <span></span>
                                    <% } %>
                                </h3>
                                <% if(product.stock <= 5 && product.stock > 0){ %>
                                    <p class="low-stock">Only <%= product.stock %> left</p>
                                    <% } %>
                                <p>
                                    <%= product.description %>
                                </p>
                                <div class="product__details__option">
                                </div>
                                
                                <div class="product__details__cart__option">
                                    <% if (product.stock <= 0) { %>
                                        <a class="primary-btn out-of-stock" disabled>Out of Stock</a>
                                    <% } else { %>
                                        <a id="add-btn" data-product-id="<%= product._id %>" class="primary-btn add-to-cart-btn">
                                            Add to Cart</a>
                                    <% } %>
                                </div>
                                
                                
                                <div class="product__details__btns__option">
                                    <a href="#" class="add-to-wishlist" data-product-id="<%= product._id %>">
                                        <i class="fa fa-heart"></i> Add to Wishlist
                                    </a>
                                    
                                    <!-- <a href=""><i class="fa fa-heart"></i> add to wishlist</a> -->
                                    <!-- <a href="#"><i class="fa fa-exchange"></i> Add To Compare</a> -->
                                </div>
                                <div class="product__details__last__option">
                                    <h5><span>Guaranteed Safe Checkout</span></h5>
                                    <img src="img/shop-details/details-payment.png" alt="">
                                    <ul>
                                        <!-- <li><span>SKU:</span>  </li> -->
                                        <li><span>Categories:</span>
                                            <%= product.category %>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product__details__tab">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#tabs-5"
                                            role="tab">Description</a>
                                    </li>
                                    <!-- <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tabs-6" role="tab">Customer Reviews( )</a>
                                </li> -->
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#tabs-7" role="tab">Additional
                                            information</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tabs-5" role="tabpanel">
                                        <div class="product__details__tab__content">
                                            <p class="note">
                                                <%= product.description %>
                                            </p>
                                            <div class="product__details__tab__content__item">
                                               
                                            </div>
                                          
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tabs-6" role="tabpanel">
                                        <div class="product__details__tab__content">
                                            <!-- <div class="product__details__tab__content__item">
                                                <h5>Products Infomation</h5>
                                            </div> -->
                                            <!-- <div class="product__details__tab__content__item">
                                                <h5>Material used</h5>
                                            </div> -->
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tabs-7" role="tabpanel">
                                        <div class="product__details__tab__content">
                                            <!-- <div class="product__details__tab__content__item">
                                                <h5>Products Infomation</h5>
                                            </div> -->
                                            <!-- <div class="product__details__tab__content__item">
                                                <h5>Material used</h5>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Shop Details Section End -->

        <!-- Related Section Begin -->
        <section class="related spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="related-title">Related Product</h3>
                    </div>
                </div>
                <div class="row">
                    <% for(let i=0; i<relatedProducts.length; i++) { %>
                        <div class="col-lg-3 col-md-6 col-sm-6 col-sm-6">

                            <div class="product__item">
                                <!-- <div class="product__item__pic set-bg" data-setbg="img/product/product-1.jpg">
                            <span class="label">New</span>
                            <ul class="product__hover">
                                <li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
                                <li><a href="#"><img src="img/icon/compare.png" alt=""> <span>Compare</span></a></li>
                                <li><a href="#"><img src="img/icon/search.png" alt=""></a></li>
                            </ul>
                        </div> -->

                                <div class="product__item__pic">
                                    <a href="/shopdetails?productId=<%= relatedProducts[i]._id %>"><img
                                            src="/uploadedImages/<%= relatedProducts[i].images[0] %>"
                                            alt="<%= relatedProducts[i].name %>" class="img-fluid"></a>
                                    <ul class="product__hover">
                                        <li><a href="#"><img src="img/icon/heart.png" alt=""></a></li>
                                        <li><a href="#"><img src="img/icon/compare.png" alt=""> <span>Compare</span></a>
                                        </li>
                                        <li><a href="#"><img src="img/icon/search.png" alt=""></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6>Piqué Biker Jacket</h6>
                                    <a href="#" class="add-cart">+ Add To Cart</a>
                                    <div class="rating">
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div>
                                    <h5>$67.24</h5>
                                    <div class="product__color__select">
                                        <label for="pc-1">
                                            <input type="radio" id="pc-1">
                                        </label>
                                        <label class="active black" for="pc-2">
                                            <input type="radio" id="pc-2">
                                        </label>
                                        <label class="grey" for="pc-3">
                                            <input type="radio" id="pc-3">
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <% } %>
                </div>
            </div>
        </section>
        <!-- Related Section End -->

        <script>
            document.getElementById('add-btn').addEventListener('click', async function (event) {
                event.preventDefault();

                const productId = this.getAttribute('data-product-id');

                if (!productId) {
                    console.error('Product ID not found.');
                    return;
                }
                try {
                    const response = await fetch(`/addToCart`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ productId })
                    });
                    const data = await response.json()  ;

                    if (data.success) {
                        window.location.href = `/cart`;  
                    } else {
                        console.error('Failed to add item to cart.');
                    }
                }
                catch (err) {
                    console.log(err);

                }
            });
        
    //**zoommmm
    var options2 = {
        width: 450, 
        zoomWidth: 225, 
        zoomHeight: 150,
        offset: {vertical: 0, horizontal: 10}
    };

    function setZoomedPic(imageSrc) {
        const zoomedPic = document.getElementById('zoomed-pic');
        
        zoomedPic.src = imageSrc;

        zoomedPic.onload = function() {
            new ImageZoom(document.getElementById("selectedImageId"), options2);
        };
    }

    const productPics = document.querySelectorAll('.product-pic');
    productPics.forEach(pic => {
        pic.addEventListener('click', function() {
            const imageSrc = this.src;
            setZoomedPic(imageSrc);
        });
    });

    if (productPics.length > 0) {
        setZoomedPic(productPics[0].src);
    }

    new ImageZoom(document.getElementById("selectedImageId"), options2);
</script>

<script>
    document.querySelector('.add-to-wishlist').addEventListener('click',async function(event){
        event.preventDefault();

        const productId = event.target.closest('.add-to-wishlist').getAttribute('data-product-id');

        await fetch('/add')
    })
</script>

        <%- include('../layouts/footer.ejs') %>